@model IEnumerable<AMNHAC.Models.Video>
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>

    <h3 class="title" style="text-align:center;"> @ViewBag.Message </h3>
    <h3 class="title" style="text-align:center; color:red;"> @ViewBag.Check</h3>
    <div class="test">
        @foreach (var item in Model)
        {

            <div class="song">
                <div class="thumb" style="background-image: url('https://img.youtube.com/vi/@item.id/maxresdefault.jpg') "></div>
                <div class="body">
                    @*<iframe width="560" height="315" src="https://www.youtube.com/embed/@item.id" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>*@
                    <h3 class="title"> @item.title </h3>
                    <p class="author"> @item.author </p>
                </div>

                <div class="option">

                    <form action="/Home/AddPlaylistAdmin" method="post">
                        <input type="text" id="domain" name="Id" value="@item.title" style="display:none;" />
                        <input type="text" id="domainCheckId" name="CheckId" value="@item.id" style="display:none;" />
                        <select name="theloai" class="form-control">
                            <option value="hoa">Nhạc Hoa</option>
                            <option value="viet">Nhạc Việt</option>
                            @*<option value="khac">Nhạc Khác</option>*@
                        </select>
                        <button type="submit" style="color:black;">Add Your Playlist Admin In Index</button>
                    </form>

                    <form action="/Home/Test" method="post">
                        <input type="text" id="domain" name="Id" value="@item.title" style="display:none;" />
                        <input type="text" id="domainCheckId" name="CheckId" value="@item.id" style="display:none;" />
                        <button type="submit">Add Your Playlist</button>
                    </form>
                    <button onclick="openList(event)" data-id="@item.id">More</button>


                </div>


                <div class="modal js-modal" onclick="closeAllList(event)" id="@item.id">
                    <div class="modal-container js-modal-container">
                        <div class="modal-close js-modal-close" onclick="closeList(event)" data-id="@item.id">
                            <i class="fa fa-times"></i>
                        </div>

                        <header class="modal-header">
                            <div class="Lyrics-form ">
                                <i class="modal-heading-icon fa fa-info"></i>
                                <h1 class="Lyrics-title">@item.title</h1>
                            </div>

                        </header>

                        <div class="modal-body">
                            <div class="Lyrics">
                                <p class="Lyrics-info">

                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/@item.id" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                                    ____________________
                                </p>

                            </div>
                        </div>

                        <footer class="modal-footer">
                            <p class="modal-help text-black">Need <a href="">help?</a></p>
                        </footer>
                    </div>
                </div>
            </div>
        }
    </div>

</body>
<script>

    function openList(e) {
        var id = e.currentTarget.getAttribute('data-id')
        showBuyTickets(id)


    }
    function closeList(e) {
        var id = e.currentTarget.getAttribute('data-id')
        hideBuyTickets(id)

    }
    function closeAllList(e) {
        var id = e.currentTarget.getAttribute('id')
        hideBuyTickets(id)
    }




    function showBuyTickets(id) {
        const modal = document.getElementById(id)
        modal.classList.add('open')

    }
    function hideBuyTickets(id) {
        const modal = document.getElementById(id)
        modal.classList.remove('open')
    }

    



</script>


