@using AMNHAC.Models
@model dynamic
<link href="~/Content/css/ticket.css" rel="stylesheet" />
<body>
    @using Microsoft.AspNet.Identity
    <section class="dau1">
        <header>
            <div class="caidau">
                <h1 class="caichu">
                    <span class="chudau">
                        <font style="vertical-align: inherit;">
                            <font style="vertical-align: inherit;">@Html.ActionLink("Xin Chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Bạn đã có tài khoản?" })</font>
                        </font>
                    </span>

                    <font style="vertical-align: inherit;">
                        <font style="vertical-align: inherit;"> Hãy xây lên giấc mơ của riêng bạn, nếu không người khác sẽ thuê bạn xây dựng giấc mơ của họ đó.</font>
                    </font>
                </h1>
            </div>
        </header>
    </section>

    @*<div class="dau2">

            <div class="khung">

                <div class="tieude" style=" padding: 10px 5px;">
                    <h2 class="chutieude">YOUR SONG</h2>
                </div>
            </div>
            <div class="khung">
                <div class="tieude">
                    <div class="tieude">
                        <img width="100" height="100" src="https://img.youtube.com/vi/PNajbdtPvRc/maxresdefault.jpg" title="YouTube video player" />
                    </div>
                    <h2 class="chutieude">

                        <iframe width="560" height="315" src="https://www.youtube.com/embed/PNajbdtPvRc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    </h2>
                </div>
            </div>
        </div>*@
    @*Nhac Trung*@
    <div class="Artist">
        <section class="Artist-Noidung">
            <header class="Artist-Tieude">
                <div class="NhacHoa"><a class="nyued0j lmgha8v" style="--lmgha8v-0:#009DC6">Nhạc Trung</a></div>
            </header>
            <div class="Nhac-content">
                <div class="Nhac-Tieude">
                    <div class="Nhac-Trung">
                        <picture class="sbgigcn p18r570z" style="--p18r570z-0:56.25%;--p18r570z-1:100%">
                            <img src="https://ajteducation.com/images/6_C%E1%BB%90_%C4%90%C3%94_/B%E1%BA%AEC_KINH.jpg" alt="Cho những người thích nghe nhạc Hoa" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF">
                        </picture><div class="s18w18cd"><h3 class="tnkt7b2 h1yokpfj">Cho những người thích nghe nhạc Hoa</h3></div>
                    </div>
                    <p>Nền âm nhạc phong phú và phổ biến nhất đến từ Trung Hoa!</p>
                </div>
                <div class="Nhac-Tieubieu">
                    @foreach (Video video in Model.video)
                    {
                        <div class="Nhac" onclick="openVideo(event)" data-id="@video.id" style="--Nhac-0:#F8F8F8">
                            <a class="lcourxo l1kpohop">
                                <div class="lydohjg">
                                    <picture class="f8d0pxd sbgigcn p18r570z" height="45" style="--p18r570z-0:45px;--p18r570z-1:80px">
                                        <img src="https://img.youtube.com/vi/@video.id/maxresdefault.jpg" alt="@video.title" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF">
                                    </picture><span class="tge85oa e1lai98">@video.title</span><span class="s5fxhr2 e1lai98">
                                        @video.author
                                    </span>
                                </div>
                            </a>
                        </div>

                        <div class="modal js-modal" onclick="closeVideo(event)" id="@video.id">
                            <div class="modal-container js-modal-container">
                                <div class="modal-close js-modal-close" onclick="closeallVideo(event)" data-id="@video.id">
                                    <i class="fa fa-times"></i>
                                </div>

                                <header class="modal-header">
                                    <div class="Lyrics-form ">
                                        <i class="modal-heading-icon fa fa-info"></i>
                                        <h1 class="Lyrics-title">@video.title</h1>
                                    </div>

                                </header>

                                <div class="modal-body">
                                    <div class="Lyrics">
                                        <p class="Lyrics-info">

                                            <iframe width="560" height="315" src="https://www.youtube.com/embed/@video.id" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                            <div style="color:black;">
                                                @video.author
                                            </div>
                                        </p>

                                    </div>
                                </div>

                                <footer class="modal-footer">
                                    <p class="modal-help text-black">Need <a href="">help?</a></p>
                                </footer>
                            </div>
                        </div>
                    }


                </div>
            </div>
        </section>
    </div>
    <script>
        function openVideo(e) {
            var id = e.currentTarget.getAttribute('data-id')
            showBuyTickets(id)
        }
        function closeVideo(e) {
            var id = e.currentTarget.getAttribute('id')
            hideBuyTickets(id)
        }
        function closeallVideo(e) {
            var id = e.currentTarget.getAttribute('data-id')
            hideBuyTickets(id)
        }
        function showBuyTickets(id) {
            const modal = document.getElementById(id)
            modal.classList.add('open')
        }
        function hideBuyTickets(id) {
            const modal = document.getElementById(id)
            modal.classList.remove('open')
        }
    </script>
    @*Nhac Viet*@
    <div class="Artist">
        <section class="Artist-Noidung">
            <header class="Artist-Tieude">
                <div class="NhacHoa"><a class="nyued0j lmgha8v" style="--lmgha8v-0:#009DC6">Nhạc Việt</a></div>
            </header>
            <div class="Nhac-content">
                <div class="Nhac-Tieude">

                    <div class="Nhac-Trung">
                        <picture class="sbgigcn p18r570z" style="--p18r570z-0:56.25%;--p18r570z-1:100%">
                            <img src="~/Content/images/AnhNhacViet.png" alt="Cho những người thích nghe nhạc Hoa" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF">
                        </picture><div class="s18w18cd"><h3 class="tnkt7b2 h1yokpfj">Cho những người thích nghe nhạc Việt</h3></div>
                    </div>
                    <p>Nền âm nhạc phong phú và phổ biến nhất đến từ Vpop!</p>
                </div><div class="Nhac-Tieubieu">
                    <div class="Nhac" style="--Nhac-0:#F8F8F8">
                        <a class="lcourxo l1kpohop">
                            <div class="lydohjg">
                                <picture class="f8d0pxd sbgigcn p18r570z" height="45" style="--p18r570z-0:45px;--p18r570z-1:80px">
                                    <img src="https://i.ytimg.com/vi/ftxfutOAjss/mqdefault.jpg" alt="Nhiều người - Red Sun in the Sky" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF">
                                </picture><span class="tge85oa e1lai98">Nhiều người - Red Sun in the Sky</span><span class="s5fxhr2 e1lai98">
                                    1,402M<!-- --> <!-- -->Phím<!-- -->&nbsp;·&nbsp;<!-- -->Hợp âm<!-- -->
                                </span>
                            </div>
                        </a>
                    </div><div class="Nhac" style="--Nhac-0:#FFFFFF">
                        <a class="lcourxo l1kpohop">
                            <div class="lydohjg">
                                <picture class="f8d0pxd sbgigcn p18r570z" height="45" style="--p18r570z-0:45px;--p18r570z-1:80px"><img src="https://i.ytimg.com/vi/AqPk7YYHt1Y/hqdefault.jpg" alt="Lưu Y Đóa - Túy Hồng Nhan" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF"></picture><span class="tge85oa e1lai98">Lưu Y Đóa - Túy Hồng Nhan</span>
                                <span class="s5fxhr2 e1lai98">
                                    14555<!-- --> <!-- -->Phím<!-- -->&nbsp;·&nbsp;<!-- -->Hợp âm<!-- -->
                                </span>
                            </div>
                        </a>
                    </div><div class="Nhac" style="--Nhac-0:#F8F8F8">
                        <a class="lcourxo l1kpohop">
                            <div class="lydohjg">
                                <picture class="f8d0pxd sbgigcn p18r570z" height="45" style="--p18r570z-0:45px;--p18r570z-1:80px"><img src="https://i.ytimg.com/vi/W-MihXf7Y2c/maxresdefault.jpg" alt="Trương Hàm Vận - 1 Triệu khả năng" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF"></picture>
                                <span class="tge85oa e1lai98">Trương Hàm Vận - 1 Triệu khả năng</span><span class="s5fxhr2 e1lai98">
                                    56224<!-- --> <!-- -->Phím<!-- -->&nbsp;·&nbsp;<!-- -->Hợp âm<!-- -->
                                </span>
                            </div>
                        </a>
                    </div><div class="Nhac" style="--Nhac-0:#FFFFFF">
                        <a class="lcourxo l1kpohop">
                            <div class="lydohjg">
                                <picture class="f8d0pxd sbgigcn p18r570z" height="45" style="--p18r570z-0:45px;--p18r570z-1:80px"><img src="https://i.ytimg.com/vi/Iz02QowXvbw/maxresdefault.jpg" alt="A Du Du - Một giấc mộng xưa" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF"></picture><span class="tge85oa e1lai98">A Du Du - Một giấc mộng xưa</span>
                                <span class="s5fxhr2 e1lai98">
                                    4999<!-- --> <!-- -->Phím<!-- -->&nbsp;·&nbsp;<!-- -->Hợp âm<!-- -->
                                </span>
                            </div>
                        </a>
                    </div><div class="Nhac" style="--Nhac-0:#F8F8F8">
                        <a class="lcourxo l1kpohop">
                            <div class="lydohjg">
                                <picture class="f8d0pxd sbgigcn p18r570z" height="45" style="--p18r570z-0:45px;--p18r570z-1:80px"><img src="https://i.ytimg.com/vi/P9mqCv1yhBE/maxresdefault.jpg" alt="Ngải Thần - Thời Không Sai Lệch" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:0;--i1by9jdf-0:#FFFFFF"></picture>
                                <span class="tge85oa e1lai98">Ngải Thần - Thời Không Sai Lệch</span><span class="s5fxhr2 e1lai98">
                                    6452<!-- --> <!-- -->Phím<!-- -->&nbsp;·&nbsp;<!-- -->Hợp âm<!-- -->
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>



    @*Nghe Si*@
    <div class="Artist">
        <section class="Artist-Noidung">
            <header class="Artist-Tieude"><h2 class="h3w46bu"><a class="l1amswbe" style="--l1amswbe-0:inherit;--l1amswbe-1:none">Artists</a></h2></header>
            <div class="Artist-content">
                @foreach (Person person in Model.person)
                {
                    <a class="NgheSi">
                        <div class="nghesi" style="--nghesi-0:auto">
                            <div class="hinhanh" onclick="openList(event)" data-id="@person.idPerson" style="--hinhanh-0: 100%; --p18r570z-1: 100% ">
                                <img src="@person.hinhPerson" alt="Mỹ Tâm" title="@person.namePerson" class="i1by9jdf iwzmvkf" style="--iwzmvkf-0:transparent;--iwzmvkf-1:50%;--i1by9jdf-0:#FFFFFF">
                            </div>
                            <div class="naphpbz" style="--naphpbz-0:16px;--naphpbz-1:15px">@person.namePerson</div>
                        </div>
                    </a>


                    <div class="modal js-modal" onclick="closeAllList(event)" id="@person.idPerson">
                        <div class="modal-container js-modal-container">
                            <div class="modal-close js-modal-close" onclick="closeList(event)" data-id="@person.idPerson">
                                <i class="fa fa-times"></i>
                            </div>

                            <header class="modal-header">
                                <div class="Lyrics-form ">
                                    <i class="modal-heading-icon fa fa-info"></i>
                                    <h1 class="Lyrics-title">@person.namePerson</h1>
                                </div>

                            </header>

                            <div class="modal-body">
                                <div class="Lyrics">
                                    <p class="Lyrics-info">

                                        @person.Mota

                                    </p>

                                </div>
                            </div>

                            <footer class="modal-footer">
                                <p class="modal-help text-black">Need <a href="">help?</a></p>
                            </footer>
                        </div>
                    </div>
                }


            </div>
        </section>
    </div>


    @*TicKet*@
    <div id="tour" class="tour-section">
        <div class="content-section">
            <h2 class="section-heading text-white">Top Music</h2>
            <p class="section-sub-heading text-white">Listen music in your heart!</p>
            <!-- Ticket -->
            <ul class="ticket-list">
                <li>September </li>
                <li>October  </li>
                <li>November </li>
            </ul>
            <!-- Places -->
            <div class="row list-place">
                <div class="col col-third s-col-full mt-16">
                    <img src="https://i.ytimg.com/vi/5Akp2xPeIrM/maxresdefault.jpg" alt="New York" class="place-img">
                    <div class="place-body">
                        <h3 class="place-heading">Đại Thiên Bồng</h3>
                        <p class="place-time">Lý Viên Kiệt</p>
                        <p class="place-descr"></p>
                        <button class="btn js-buy-ticket s-full-width">Listen</button>
                    </div>
                </div>
                <div class="col col-third s-col-full mt-16">
                    <img src="https://i.ytimg.com/vi/P9mqCv1yhBE/maxresdefault.jpg" alt="New York" class="place-img">
                    <div class="place-body">
                        <h3 class="place-heading">Thời Không Sai Lệch</h3>
                        <p class="place-time">Ngải Thần</p>
                        <p class="place-descr"></p>
                        <button class="btn js-buy-ticket s-full-width">Listen</button>
                    </div>
                </div>
                <div class="col col-third s-col-full mt-16">
                    <img src="https://i.ytimg.com/vi/lNCViM7R8N8/maxresdefault.jpg" alt="New York" class="place-img">
                    <div class="place-body">
                        <h3 class="place-heading">Yến Vô Hiết</h3>
                        <p class="place-time">Tương Tuyết Nhi</p>
                        <p class="place-descr"></p>
                        <button class="btn js-buy-ticket s-full-width">Listen</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal js-modal">
        <div class="modal-container js-modal-container">
            <div class="modal-close js-modal-close">
                <i class="fa fa-times"></i>
            </div>

            <header class="modal-header">
                <div class="Lyrics-form ">
                    <i class="modal-heading-icon fa fa-info"></i>
                    <h1 class="Lyrics-title">INFORMATION</h1>
                </div>

            </header>

            <div class="modal-body">
                <label for="quantity" class="modal-label">
                    <i class="fa fa-user"></i>
                    Thời Không Sai Lệch - Ngải Thần<br />
                    Lyricist: Chu Nhân ( 周仁 )<br />
                    Composer: Trương Bác Văn ( 张博文 )<br />
                    Trans: JuLy, CKey
                </label>

                <label for="email" class="modal-label">
                    <i class="fa fa-user"></i>
                    Lyrics:
                </label>

                <div class="Lyrics">
                    <p class="Lyrics-info">
                        Tián bùmǎn bàn pái guānzhòng de diànyǐng
                        zhídào sànchǎng shí túrán liàng qǐ dēng
                        zìmù dìnggé zài mǒu mǒu chūpǐn hé fāxíng
                        wǒ mùsòng tāmen xíng sè cōngcōng
                        xiàng gè zì bù liànglì de fùdú shēng
                        wán bùchéng jīnbǎng tímíng de shǐmìng
                        mìng bùshì cāi jiǎndāo shítou bù de juédìng
                        nàme rènxìng
                        wǒ chuīguò nǐ chuīguò de wǎn fēng
                        nà wǒmen suàn bù suàn xiāng yōng
                        kě rú mèng chū xǐng bān de liǎngshǒukōngkōng
                        xīn yě kōng
                        wǒ chuīguò nǐ chuīguò de wǎn fēng
                        shìfǒu kànguò tóngyàng fēngjǐng
                        xiàng rǎoluàn shíchā liú zài cuòwèi shíkōng
                        zhōng shì kōng shì kōng
                        shǔ bù wán jiànzhèng xǔyuàn de fánxīng
                        méi língyàn shéi lái ānwèi huài xīnqíng
                        shízìlù kǒu shǎnshuò bù tíng de xìnhàodēng
                        yǒu gèrén xiǎnrán xīnshì chóng zhòng
                        sān gè zì zhǐ néng shuō jǐ zìjǐ tīng
                        yǎngzhe tóu bùyào ràng yǎnlèi shīkòng
                        nǎ li yǒu kěyǐ fēnghuílùzhuǎn de sùmìng
                        wǒ bùxiǎng tīng
                        wǒ chuīguò nǐ chuīguò de wǎn fēng
                        nà wǒmen suàn bù suàn xiāng yōng
                        kě rú mèng chū xǐng bān de liǎngshǒukōngkōng
                        xīn yě kōng
                        wǒ chuīguò nǐ chuīguò de wǎn fēng
                        shìfǒu kànguò tóngyàng fēngjǐng
                        xiàng rǎoluàn shíchā liú zài cuòwèi shíkōng
                        zhōng shì kōng shì kōng
                        wǒ chuīguò nǐ chuīguò de wǎn fēng
                        kōngqì lǐ mímànzhe xīntòng
                        kě wǒmen zuìhòu zài zhè cuòwèi shíkōng
                        zhōng chéng kōng
                        wǒ chuīguò nǐ chuīguò de wǎn fēng
                        kōngqì lǐ mímànzhe xīntòng
                        kě wǒmen zuìhòu zài zhè cuòwèi shíkōng
                        zhōng chéng kōng chéng kōng
                        ____________________
                    </p>
                    <div class="khung">

                        <div class="tieude" style=" padding: 10px 5px;">
                            <h2 class="chutieude">YOUR SONG</h2>
                        </div>
                    </div>
                    <div class="khung">
                        <div class="tieude">
                            <div class="tieude">
                                <img width="100" height="100" src="https://img.youtube.com/vi/nz1LXVRHN9M/maxresdefault.jpg" title="YouTube video player" />
                            </div>
                            <h2 class="chutieude">

                                <iframe width="560" height="315" src="https://www.youtube.com/embed/nz1LXVRHN9M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                            </h2>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="modal-footer">
                <p class="modal-help text-black">Need <a href="">help?</a></p>
            </footer>
        </div>
    </div>

    <script>
        function openList(e) {
            var id = e.currentTarget.getAttribute('data-id')
            showBuyTickets(id)
        }
        function closeList(e) {
            var id = e.currentTarget.getAttribute('data-id')
            hideBuyTickets(id)
        }
        function closeAllList(e) {
            var id = e.currentTarget.getAttribute('id')
            hideBuyTickets(id)
        }
        function showBuyTickets(id) {
            const modal = document.getElementById(id)
            modal.classList.add('open')
        }
        function hideBuyTickets(id) {
            const modal = document.getElementById(id)
            modal.classList.remove('open')
        }
    </script>




</body>
