@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="account account-right">
            @*<li>
                @Html.ActionLink("Xin Chào " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>*@
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Đăng Xuất</a></li>
        </ul>
    }
}
else
{
    <ul class="account account-right">
        <li>
            @Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </li>
    </ul>
    @*<ul class="nav navbar-nav navbar-right">
        <li class="button mau">@Html.ActionLink("Đăng Ký", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li class="button mau">@Html.ActionLink("Đăng Nhập", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>*@
}
<style>
    .account-right {
        float: right !important;
        margin-right: 20px;
    }
</style>